p{
	text-align: justify;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.indent{
	text-indent: 40px;
}

@media screen{
	.print-container{
		width: 800px;
		margin: 2cm auto;
		border: 1px solid lightgrey;
		padding: 2cm;
	}

	p{
	margin: 2px;
}

p.m1{
	margin: 5px 2px;
}

}

.date{
	margin: 20px;
}

.list-item{
	text-indent: 40px;
}

.list-item:before{
	margin-right: 20px;
}

#i-11:before{
	content: '1.1';
}

#i-12:before{
	content: '1.2';
}

#i-13:before{
	content: '1.3';
}

#i-131:before{
	content: '1.3.1';
}

#i-132:before{
	content: '1.3.2';
}

#i-14:before{
	content: '1.4';
}

#i-15:before{
	content: '1.5';
}

#i-16:before{
	content: '1.6';
}

#i-21:before{
	content: '2.1';
}

#i-211:before{
	content: '2.1.1';
}

#i-212:before{
	content: '2.1.2';
}

#i-213:before{
	content: '2.1.3';
}

#i-214:before{
	content: '2.1.4';
}

#i-215:before{
	content: '2.1.5';
}

#i-216:before{
	content: '2.1.6';
}

#i-22:before{
	content: '2.2';
}

#i-221:before{
	content: '2.2.1';
}

#i-31:before{
	content: '3.1';
}

#i-32:before{
	content: '3.2';
}

#i-33:before{
	content: '3.3';
}

#i-41:before{
	content: '4.1';
}

#i-42:before{
	content: '4.2';
}

#i-43:before{
	content: '4.3';
}

#i-44:before{
	content: '4.4';
}

#i-45:before{
	content: '4.5';
}

#i-51:before{
	content: '5.1';
}

#i-61:before{
	content: '6.1';
}

#i-62:before{
	content: '6.2';
}

#i-71:before{
	content: '7.1';
}

#i-72:before{
	content: '7.2';
}

table{
	margin: 20px auto;
}

.credentials{
	margin-top: 40px;
}

.credentials p{
	font-size: 16px;
}

.title {
    font-size: 18.667px;
    font-weight: bold !important;
}
