{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>{% trans 'Agreement' %}</title>
{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}
    <div class="container">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab accusamus blanditiis consequuntur cumque
            dolore doloremque expedita facilis fugiat harum impedit in libero molestias natus neque porro quam quasi
            suscipit.
        </div>
    </div>
{% endblock content %}