{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load census_extras %}

{% block title %}
    <title>{% trans "Кызматкерлер" %}</title>
{% endblock title %}

{% block style %}
    <style>
        .filter-container {
            padding: 10px;
            background-color: #DCDCDC;
            border-radius: 4px;
        }

        .search-btn {
            background-color: #F0F8FF;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container" style="margin-top: 100px;" id="app" v-cloak>
        <div class="row">
            <div class="col-md-3">
                <div class="filter-container">
                    <form class="filter-form" method="get">
                        <div class="form-row">
                            {% for field in filterset.form.visible_fields %}
                                <div class="form-group col-md-12">
                                    <label for="id_{{ field.name|lower }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" autocomplete="off" %}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit"
                                class="btn btn-block mt-2 shadow-none search-btn">{% trans 'Издөө' %}</button>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="myTable"
                           data-card-width="1000">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">{% trans 'Аракет' %}</th>
                            <th scope="col">{% trans 'Аты-жөнү' %}</th>
                            <th scope="col">{% trans 'Ролу' %}</th>
                            <th scope="col">{% trans 'Келишим' %}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for employee in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'update' employee.pk %}">{% trans 'Change' %}</a>
                                </td>
                                <td>{{ employee.full_name }}</td>
                                <td>{{ employee.role_str }}</td>
                                <td>
                                    <a href="{% url 'agreement' employee.pk %}">{% trans 'Кененирээк' %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if is_paginated %}
                    <div class="d-flex">
                        <nav aria-label="Employee list pagination" class="mx-auto">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?{% param_replace page=page_obj.previous_page_number %}">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                        <span class="page-link">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Мурдакы барак</span>
                        </span>
                                    </li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active"><span
                                                    class="page-link">{{ forloop.counter }} <span
                                                    class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?{% param_replace page=forloop.counter %}">{{ forloop.counter }}</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?{% param_replace page=page_obj.next_page_number %}">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                        <span class="page-link">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Кийинки барак</span>
                        </span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    message: "Hello World"
                }
            },

            methods: {}
        })
    </script>
{% endblock js %}