{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    <title>{% trans "Кызматкерлер" %}</title>
{% endblock title %}

{% block style %}
    <style>
        .filter-container {
            padding: 10px;
            background-color: #DCDCDC;
            border-radius: 4px;
        }

        .search-btn {
            background-color: #F0F8FF;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container" style="margin-top: 100px;" id="app" v-cloak>
        <div class="row">
            <div class="col-md-3">
                <div class="filter-container">
                    <form class="filter-form">
                        <div class="form-row">
                            {% for field in form.visible_fields %}
                                <div class="form-group col-md-12">
                                    <label for="id_{{ field.name|lower }}">{{ field.label }}</label>
                                    {% with vmodel="filterset."|add:field.name %}
                                        {% render_field field class="form-control" v-model=vmodel autocomplete="off" %}
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button"
                                class="btn btn-block mt-2 shadow-none search-btn"
                                @click="filter">{% trans 'Издөө' %}</button>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <div class="table-responsive mt-5">
                    <table v-if="employees.length > 0" class="table table-hover table-bordered" id="myTable"
                           data-card-width="1000">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">{% trans 'Аракет' %}</th>
                            <th scope="col">{% trans 'Аты-жөнү' %}</th>
                            <th scope="col">{% trans 'Ролу' %}</th>
                            <th scope="col">{% trans 'Келишим' %}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="(employee, index) in employees">
                            <td>[[index + 1]]</td>
                            <td>
                                <a :href="'/{{ LANGUAGE_CODE }}' + employee.update_url_suffix">{% trans 'Change' %}</a>
                            </td>
                            <td>[[ employee.full_name ]]</td>
                            <td>[[ employee.role_str ]]</td>
                            <td>
                                <a :href="'/{{ LANGUAGE_CODE }}' + employee.agreement_url_suffix">{% trans 'Кененирээк' %}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    employees: [],
                    filterset: {
                        first_name__icontains: '',
                        last_name__icontains: '',
                        PIN: '',
                        role: 1
                    }
                }
            },

            methods: {
                getEmployees() {
                    axios.get("employees/").then(response => {
                        this.employees = response.data;
                    });
                },

                filter() {
                    console.log(this.filterset);
                }
            },

            mounted: function () {
                this.getEmployees();
            },
        })
    </script>
{% endblock js %}