{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    <title>{% trans "Эл каттоо" %}</title>
{% endblock title %}

{% block style %}
    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100vh;
            z-index: 9999;
            background: url({% static 'img/spinner.gif' %}) 50% 50% no-repeat rgb(249, 249, 249);
        }

        .form-container {
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            .form-container {
                width: 50%;
            }
        }

        .image-container {
            position: fixed;
            left: 0;
            right: 0;
            top: 56px;
            bottom: 0;
            display: block;
        }

        .image-container > img {
            max-width: 100%;
            object-fit: contain;
        }
    </style>
{% endblock style %}

{% block content %}
    <div id="app" v-cloak>
        <div class="container pt-3 d-flex justify-content-center" style="margin-top: 56px;">
            <div class="form-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ photo_crop_form.as_p }}
                    {% for field in form.visible_fields %}
                        {% if field.name != "photo" %}
                            <div class="form-group">
                                <label for="id_{{ field.name }}">{{ field.label }}</label>
                                {% render_field field class="form-control" autocomplete="off" %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <label class="btn btn-primary btn-block mt-3">
                        <i class="fa fa-image"></i>
                        <span>{% trans "Сүрөт жүктөө" %}</span>
                        {% render_field form.photo style="display: none;" ref="photo" @change="cropImage" %}
                    </label>

                    <button type="submit" class="btn btn-primary btn-block mt-3 mb-5">{% trans "Сактоо" %}</button>
                </form>

                <div id="modal" v-show="crop">
                    <div class="image-container d-flex justify-content-center align-items-center p-3">
                        <img src="{% static 'img/empty.jpg' %}" alt="" id="image">
                        <button @click="crop=false">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script>
        let app = new Vue({
            el: '#app',

            data: {
                save: false,
                crop: false
            },

            methods: {
                cropImage() {
                    this.crop = true;
                    let image = document.getElementById('image');
                    let files = this.$refs.photo.files;
                    let file = files[0];
                    $('#image').attr('src', window.URL.createObjectURL(file));
                    let cropper = new Cropper(image, {
                        aspectRatio: 3 / 4,
                        movable: false,
                        zoomable: false,
                        rotatable: true,
                        crop: function (e) {
                            $('#x1').val(Math.round(e.detail.x));
                            $('#y1').val(Math.round(e.detail.y));
                            $('#x2').val((Math.round(e.detail.x) + Math.round(e.detail.width)));
                            $('#y2').val((Math.round(e.detail.y) + Math.round(e.detail.height)));
                        }
                    });
                    cropper.crop();
                }
            },
        })
    </script>
{% endblock js %}