{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    <title>{% trans "Census" %}</title>
{% endblock title %}

{% block style %}
    <style>

    </style>
{% endblock style %}

{% block content %}

    <div class="container pt-3" style="margin-top: 56px;">
        <form>
            {% for field in form.visible_fields %}
                {% if field.name != "photo" %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                        {% render_field field class="form-control" v-model=field.name autocomplete="off" %}
                    </div>
                {% endif %}
            {% endfor %}

            <label class="btn btn-primary btn-block">
                <i class="fa fa-image"></i>
                <span>{% trans "Photo" %}</span>
                <input type="file" style="display: none;" name="image">
            </label>

            <button type="submit" class="btn btn-primary btn-block">{% trans "Save" %}</button>
        </form>
    </div>

{% endblock content %}