{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    <title>{% trans "Эл каттоо" %}</title>
{% endblock title %}

{% block style %}
    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100vh;
            z-index: 9999;
            background: url({% static 'img/spinner.gif' %}) 50% 50% no-repeat rgb(249, 249, 249);
        }

        .form-container {
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            .form-container {
                width: 50%;
            }
        }
    </style>
{% endblock style %}

{% block content %}
    <div id="app" v-cloak>
        <div class="container pt-3 d-flex justify-content-center" style="margin-top: 56px;">
            <div class="form-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        {% if field.name != "photo" %}
                            <div class="form-group">
                                <label for="id_{{ field.name }}">{{ field.label }}</label>
                                {% render_field field class="form-control" autocomplete="off" %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <label class="btn btn-primary btn-block mt-3">
                        <i class="fa fa-image"></i>
                        <span>{% trans "Сүрөт жүктөө" %}</span>
                        {% render_field form.photo style="display: none;" %}
                    </label>

                    <button type="submit" class="btn btn-primary btn-block mt-3 mb-5">{% trans "Сактоо" %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

    <script>
        let app = new Vue({
            el: '#app',

            data: {
                save: false,
            },

            methods: {},
        })
    </script>

{% endblock js %}