{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    <title>{% trans "Кызматкер" %}</title>
{% endblock title %}

{% block style %}
    <style>

        #printArea {
            display: none;
        }

        .form-container {
            width: 100%;
        }

        @media print {
            .container {
                display: none !important;
            }

            #printArea {
                display: block;
            }
        }

        @media screen and (min-width: 768px) {
            .form-container {
                width: 50%;
            }
        }
    </style>
{% endblock style %}

{% block content %}

    <div id="app" v-cloak>
        <div class="container pt-3 d-flex justify-content-center" style="margin-top: 56px;">
            <div class="form-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        {% if field.name != "photo" %}
                            <div class="form-group">
                                <label for="id_{{ field.name }}">{{ field.label }}</label>
                                {% render_field field class="form-control" autocomplete="off" %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <label class="btn btn-primary btn-block mt-3">
                        <i class="fa fa-image"></i>
                        <span>{% trans "Сүрөт жүктөө" %}</span>
                        {% render_field form.photo style="display: none;" %}
                    </label>

                    <button type="submit" class="btn btn-primary btn-block mt-3">{% trans "Сактоо" %}</button>
                </form>

                <button type="button" class="btn btn-block mt-3 mb-5" @click="print">Распечатать
                </button>
            </div>
        </div>

        <employee-badge-print></employee-badge-print>
    </div>

{% endblock content %}

{% block js %}

    <script type="text/x-template" id="badge-template">
        <section class="section__print" id="printArea">
            <div class="badge__main d-flex">
                <div class="badge__content mx-auto">
                    <div class="badge-content__top">
                        <div class="employee__info">
                            <div class="employee-info__fio">
                                <p class="certificate">{% trans 'Күбөлүк' %} &#8470;{{ object.agreement }}</p>
                                <p class="role">{{ object.get_role }}</p>
                                <p>{{ object.last_name|upper }}</p>
                                <p>{{ object.first_name|upper }}</p>
                                {% if object.patronymic %}
                                    <p>{{ object.patronymic|upper }}</p>
                                {% endif %}
                            </div>
                            <div class="employee-info__image">
                                {% if object.photo %}
                                    <img class="user-image" src="{{ object.photo.url }}" alt="">
                                {% else %}
                                    <img class="user-image" src="{% static 'img/nophoto.png' %}" alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="badge-content__bottom">
                        <div class="qr-code__container d-flex">
                            <img class="qr-code my-auto mx-auto" src="{{ object.qrcode.url }}" alt="">
                        </div>

                        <div class="admin-info__container">
                            {#                            <p>{% get_initials object.district.gov_admin %}</p>#}
                            <p class="badge-help">Райондук (шаардык) мамадминистрация башчысы, колу</p>
                            {#                            <p>{% get_initials object.district.stat_admin %}</p>#}
                            <p class="badge-help">Райондук(шаардык) мамстатистика башчысы, колу</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </script>

    <script>

        Vue.component('employee-badge-print', {
            delimiters: ['[[', ']]'],
            template: '#badge-template',

            data() {
                return {
                    msg: 'Hi!'
                }
            },
        })

        let app = new Vue({
            el: '#app',

            data: {
                save: false,
            },

            methods: {
                print() {
                    $.ajax({
                        url: "{% url 'badge-print-confirm' object.id %}",
                        data: {},
                        dataType: 'json',
                        success: function (data) {
                            if (data.okay) {
                                alert("OKAY!!!");
                            }
                        }
                    });
                    window.print();
                }
            },

            created() {
            }
        })
    </script>

{% endblock js %}